 .nav {
    background-color: rgb(166, 138, 192);
    padding-left: 20px;
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items:center ;
    
}


 .back4 {
   
    border: 1px solid #0066ee;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
   
    font-size: 1.3177159590043923vw;
    width: 12.298682284040996vw;
    height: 6.437768240343348vh;
    color: #0066ee;
  
    transition: 0.3s ease-out;
    
  }
  .back4:hover {
    background-color: #005bd4;
    border: 1px solid #005bd4;
    color: white;
  }
  .contest_p {
    margin-left: 30px;
    padding: 20px;
    width: 500px;
  }
 .contest_p > div {
 
  margin-bottom: 30px;
 }
 .title{
  font-size: 30px;
  font-weight: 600;
 }
 .tag {
   margin: 13px 5px 5px 40px; 
 }
  
  .sec_div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .first_div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  
   