.parent{
    background-color: brown;
    width: 1000px;
    height: 600px;
    margin: auto;
    
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}
.card1{
    padding: 10px;
  width: 350px;
  /* height: 350px; */
  border: 1px solid black;
  background-color: rgb(43, 226, 125);
}
.card2{
    padding: 10px;
    width: 350px;
    /* height: 350px; */
    border: 1px solid black;
    background-color: rgb(6, 109, 112);
  }
  .back4 {
   
    margin-left: 2.98vw;
    margin-top: 3.2vh;

    border: 1px solid #1e64be;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
   
    font-size: 1.3177159590043923vw;
    width: 12.298682284040996vw;
    height: 6.437768240343348vh;
    color: #0066ee;
  
    transition: 0.3s ease-out;
    
  }
  .back4:hover {
    background-color: #005bd4;
    border: 1px solid #005bd4;
    color: white;
  }